import React from 'react';
import { Provider } from 'react-redux';
import Helmet from 'react-helmet';

export function getViewRoot(View, store) {
	return (
		<div>
			<Helmet titleTemplate="%s - <%= title %>" />
			<Provider store={store}>
				{View}
			</Provider>
		</div>
	);
}
